<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" href="/public/images/pi-on-fire-small.webp" />
    <title>{{TITLE}}</title>
    <link href="/index.rss" type="application/rss+xml" rel="alternate" title="RSS feed for blog posts" />
    <meta name="robots" content="noai, noimageai">
    <link rel="stylesheet" href="/public/style.css?v=2.2.1" />
</head>

<body id="top">
  <div id="main">
    <div id="aside">
      <div id="nav">
        <ul>
          <li><a href="/"><span>🏠</span>Home</a></li>
          <li><a class="about" href="/about/"><span>👋</span>About</a></li>
          <li><a class="posts" href="/posts/"><span>✍️</span>Posts</a></li>
          <li><a class="projects" href="/projects/"><span>🏗️</span>Projects</a></li>
          <li><a class="colophon" href="/colophon/"><span>🌐</span>Colophon</a></li>
          <li><a class="contribute" href="/contribute/"><span>💸</span>Contribute</a></li>
          <li><a class="infra" href="/infra"><span>🤖</span>Infra</a></li>
          <li><a class="uses" href="/uses/"><span>💻</span>Uses</a></li>
          <li><a class="wiki" href="/wiki/"><span>🧠</span>Wiki</a></li>
        </ul>
      </div><!-- END NAV -->
    </div><!-- END ASIDE -->
    <div id="content">
