<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="color-scheme" content="light dark" />
	<link rel="icon" href="data:," />
	<title>{{TITLE}}</title>
	<link href="/index.rss" type="application/rss+xml" rel="alternate" title="RSS feed for blog posts" />
	<meta name="robots" content="noai, noimageai">
	<link rel="stylesheet" href="/public/style.css?v=2.1" />
</head>

<body id="top">
	<div id="header">
		<div id="nav">
			<ul>
				<li><a href="/">Home</a></li><li><a href="/about/">About</a></li><li><a href="/posts/">Posts</a></li><li><a href="#footer">More...</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
