* {box-sizing: border-box;}

body {
  font-family: sans-serif; 
  max-width: 72ch; 
  margin: 0 auto;
  padding: 8px; 
}
h2 { margin-top: 2rem; }
img { display: block; height: auto; max-width: 100%; }
code { font-size: 15px; }
pre:not(:has(code.language-diagram)) { background: snow; border: 1px solid gray; padding: 8px; overflow-x: auto; }
figure { border: 1px solid; margin: 2rem 0; }
figcaption { background: black; color: white; padding: 4px; }
figcaption a, figcaption a:visited { color: white; }
figure img { margin: 0 auto; padding: 4px; }
table { margin: 2rem 0; width: 100%; }
blockquote { color: brown }
blockquote cite { font-variant: small-caps; }
dl dt { font-weight: bold; }
.posts li { margin-bottom: 10px; }
.posts span { display: block; }
.contribute-footer { border: 2px dotted; display: block; margin: 2rem 0; padding: 4px; }

@media (prefers-color-scheme: dark) {
  html { background: #1c1c1c; color: white; }
  pre:not(:has(code.language-diagram)) { background: black; }
  a { color: #6bf; }
  a:visited { color: #f8f; }
  a:active { color: red; }
  blockquote { color: lightgoldenrodyellow; }
}
