@import url("syntax.css");

* {box-sizing: border-box;}

body {
  background: #004a94;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  line-height: 1.33;
  margin: 0;
  padding: 0;
}

#header {
  background: black;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}
#header a {
  align-items: center;
  color: white;
  display: flex;
  font-family: monospace;
  font-size: 24px;
  font-variant: small-caps;
  height: 100%;
  text-decoration: none;
  word-spacing: -5px;
}
#header a:hover, #header a:active { text-decoration: underline; }
#header img {
  margin-right: 10px;
  max-height: 45px;
  width: auto;
}

#aside {
  background: #004a94;
  height: 100%;
  position: fixed;
  top: 50px;
  width: 100px;
}
#aside a {
  color: white;
  display: block;
  font-size: 14px;
  padding: 4px 6px;
}
#aside a:hover, #aside a:active {
  background: blue;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

#main {
  background: white;
  margin-left: 100px;
  margin-top: 50px;
  padding: 10px;
  width: calc(100% - 100px);
}

#content {
  max-width: 960px;
}

h1 { margin-top: 0; }
h2 { margin-top: 2rem; }
img { display: block; height: auto; max-width: 100%; }
code { font-size: 14px; }
p code, li code, blockquote code { color: brown; }
pre:not(:has(code.language-diagram)) { border: 1px solid gray; padding: 8px; overflow: auto; }
figure { border: 1px solid; margin: 2rem; }
figcaption { background: black; color: white; padding: 4px; }
figcaption a, figcaption a:visited { color: white; }
figure img { margin: 0 auto; padding: 4px; }
table { margin: 2rem 0; width: 100%; }
blockquote { color: brown }
blockquote cite { font-variant: small-caps; }
dl dt { font-weight: bold; }
dl dd { margin-bottom: 10px; }

.alert {
  background: lightgoldenrodyellow;
  color: black !important;
  padding: 6px;
}

.posts li { margin-bottom: 10px; }
.posts span { display: block; }

#footer img { margin-top: 10px; }
.contribute-footer { border: 2px dotted; display: block; margin: 2rem 0; padding: 4px; }
.footnotes { font-size: 90%; }

@media(max-width:650px) {
  body {
    font-size: 14px;
  }
  #aside {
    width: 80px;
  }
  #aside a {
    font-size: 13px;
  }
  #main {
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

@media (prefers-color-scheme: dark) {
  html { color: white; }
  pre:not(:has(code.language-diagram)) { background: black; }
  a { color: #6bf; }
  a:visited { color: #f8f; }
  a:active { color: red; }
  blockquote { color: lightgoldenrodyellow; }
  p code, li code, blockquote code { color: yellow; }
  #main {
    background: #2d2d2d;
  }
}
